@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html li {
  list-style-type: none;
}


.dropdown-container {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  font-size: 10pt;
  color: black;
}

.dropdown-container select {
  color:rgb(115, 145, 172);
  outline: none;
  box-shadow: 0 0 0 2px rgb(153, 153, 182);
}

.dropdown-container option {
  padding: 5px;
}

.dropdown-option {
  border: none;
}

.dropdown-option:hover {
  background-color: rgb(0, 30, 56);
  color: white;
}

.page-container {
  width: 80%;
  align-items: center;
}

.Navbar {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: bold;
}

.nav-nav {
  background-color: rgb(0, 30, 56);
  border-radius: 8px;
  width: 80%;
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 20px;
}

.nav-element {
  margin: 5px;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  text-decoration-color:none;
  transition: 0.2s;
}

.nav-element:hover {
  transition: 0.2s;
  background-color: rgb(43, 52, 94);
}

.nav-link {
  text-decoration: none;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343434;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.content {
  padding-bottom: 50px;
}

.bg {
  padding-bottom: 50px;
  background-color:rgb(255, 255, 255);
  height: 80vh;
  width: 80vw;
  display: grid;
  position: static;
}

.table-row {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-cell {
  padding: 8px;
  font-size: 14px;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.edit-btn, .delete-btn {
  cursor: pointer;
  padding: 5px;
  color: #007BFF;
  transition: color 0.3s;
}

.edit-btn:hover, .delete-btn:hover {
  color: #0056b3;
}

.table-container {
  margin: 20px auto; 
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 20px;
}


.entity-table th {
  padding: 12px 15px;
  text-align: left;
  background-color: #f2f2f2;
  font-size: 16px;
}

.entity-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.edit-btn, .delete-btn {
  cursor: pointer;
  padding: 5px;
  color: #007BFF;
  transition: color 0.3s;
}

.edit-btn:hover, .delete-btn:hover {
  color: #0056b3;
}

.empty-table-icon {
  margin-top: 20px;
  color: #ccc;
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-style: bold;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-field input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

.update-form-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.update-form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.update-form-field {
  margin-bottom: 15px;
}

.update-form-field label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.update-form-field input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.cancel-button {
  padding: 10px 20px;
  background-color: #727272;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin: 5px;
}

.cancel-button:hover {
  background-color: #888;
}

.update-form-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.update-form-button:hover {
  background-color: #0056b3;
}

.page-links {
  display: flex;
  justify-content: center; 
}

.page-links ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  gap: 20px; 
  justify-content: center; 
}

.page-links a {
  text-decoration: none; 
  font-family: "Kanit", sans-serif; 
  font-size: 18px; 
  color: #333; 
  transition: 0.2s;
  border-radius: 5px; 
  padding: 5px 10px; 
}

.page-links a:hover {
  background-color: rgb(0, 30, 56); 
  transition: 0.2s;
  color: #fff; 
}

.page-header {
  font-family: "Kanit", sans-serif; 
  font-size: 28px; 
  font-style: bold;
  font-weight: 400;
}

.home-page {
  font-family: "Kanit", sans-serif; 
  font-size: 16px; 
  font-weight: 300;
}