body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 75vh;
}

.table-style {
  border-collapse: collapse;
}

.d-container {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid black;
}

.SQL-button {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  color: blue;
  text-decoration: underline;
}

.SQL-button:hover {
  cursor: pointer;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 35px;

}

.nav-item {
  color: black;
  text-decoration: none;
}

.nav-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.nav-header {
  background-color: #3b9c7f;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
}